python-dotenv       # Required for loading environment variables from .env file
langchain_community
langchain-text-splitters
pymupdf
pypdf
torch
bs4     # Beautiful soup : used for web scrapping tasks 

# LangChain Core
langchain
langchain-core

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

# Hugging Face Integration
langchain-huggingface
transformers
accelerate
bitsandbytes
huggingface-hub

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn

streamlit
pydantic